<div id="cancelOrderModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 data-translate="confirm_cancel_title">Cancel Order</h2>
            <button class="modal-close">&times;</button>
        </div>
        <div class="modal-body">
            <p data-translate="confirm_cancel_message">Are you sure you want to cancel this order?</p>
        </div>
        <div class="modal-footer">
            <button id="confirmCancelBtn" class="btn-confirm" data-translate="confirm_yes">Yes</button>
            <button class="btn-cancel modal-close" data-translate="confirm_no">No</button>
        </div>
    </div>
</div>